In [16]:
import pandas as pd

In [17]:
votesdf = pd.read_csv("tmdb_top_movies.csv")
ratingdf = pd.read_csv("movieDataset.csv")

In [18]:
votesdf.head()

,tconst,primaryTitle,startYear,runtimeMinutes,rating,primaryGenre,actor1,actor2,directors
0,tt1375666,Inception,2010.0,148,8.368,Action,nm0000138,nm0330687,nm0634240
1,tt0816692,Interstellar,2014.0,169,8.454,Adventure,nm0000190,nm0004266,nm0634240
2,tt0468569,The Dark Knight,2008.0,152,8.519,Drama,nm0000288,nm0005132,nm0634240
3,tt0499549,Avatar,2009.0,162,7.588,Action,nm0941777,nm0757855,nm0000116
4,tt0848228,The Avengers,2012.0,143,7.737,Science Fiction,nm0000375,nm0262635,nm0923736

In [19]:
ratingdf.head()

,tconst,primaryTitle,startYear,runtimeMinutes,directors,actor1,actor2,primaryGenre,rating
0,tt0111161,The Shawshank Redemption,1994,142,nm0001104,nm0000209,nm0000151,Drama,9.295191
1,tt0068646,The Godfather,1972,175,nm0000338,nm0000008,nm0000199,Crime,9.193354
2,tt0468569,The Dark Knight,2008,152,nm0634240,nm0000288,nm0005132,Action,8.995661
3,tt0167260,The Lord of the Rings: The Return of the King,2003,201,nm0001392,nm0000704,nm0001557,Adventure,8.993709
4,tt0108052,Schindler's List,1993,195,nm0000229,nm0000553,nm0000146,Biography,8.991416

In [20]:
#perform union on the two datasets
temp = votesdf[~votesdf['tconst'].isin(ratingdf['tconst'])]

In [21]:
temp.head()

,tconst,primaryTitle,startYear,runtimeMinutes,rating,primaryGenre,actor1,actor2,directors
43,tt1386697,Suicide Squad,2016.0,122,5.918,Action,nm0000226,nm0001467,nm0043742
80,tt2975590,Batman v Superman: Dawn of Justice,2016.0,152,5.976,Action,nm0000255,nm0147147,nm0811583
92,tt1981115,Thor: The Dark World,2013.0,112,6.516,Action,nm1165110,nm0000204,nm0851930
107,tt1270797,Venom,2018.0,112,6.800,Science Fiction,nm0362766,nm0931329,nm0281508
111,tt2872732,Lucy,2014.0,89,6.460,Action,nm0424060,nm0000151,nm0000108

In [22]:
mergedf = pd.concat([ratingdf, temp], ignore_index=True)

In [23]:
mergedf.head(10)

,tconst,primaryTitle,startYear,runtimeMinutes,directors,actor1,actor2,primaryGenre,rating
0,tt0111161,The Shawshank Redemption,1994.0,142,nm0001104,nm0000209,nm0000151,Drama,9.295191
1,tt0068646,The Godfather,1972.0,175,nm0000338,nm0000008,nm0000199,Crime,9.193354
2,tt0468569,The Dark Knight,2008.0,152,nm0634240,nm0000288,nm0005132,Action,8.995661
3,tt0167260,The Lord of the Rings: The Return of the King,2003.0,201,nm0001392,nm0000704,nm0001557,Adventure,8.993709
4,tt0108052,Schindler's List,1993.0,195,nm0000229,nm0000553,nm0000146,Biography,8.991416
5,tt0071562,The Godfather Part II,1974.0,202,nm0000338,nm0000199,nm0000134,Crime,8.990861
6,tt0050083,12 Angry Men,1957.0,96,nm0001486,nm0000020,nm0002011,Crime,8.985822
7,tt0252487,The Chaos Class,1975.0,85,nm0251027,nm0654805,nm0015081,Comedy,8.915649
8,tt0110912,Pulp Fiction,1994.0,154,nm0000233,nm0000237,nm0000235,Crime,8.894602
9,tt0120737,The Lord of the Rings: The Fellowship of the Ring,2001.0,178,nm0001392,nm0000704,nm0005212,Adventure,8.894037

In [24]:
mergedf.describe

<bound method NDFrame.describe of           tconst                                   primaryTitle  startYear  \
0      tt0111161                       The Shawshank Redemption     1994.0
1      tt0068646                                  The Godfather     1972.0
2      tt0468569                                The Dark Knight     2008.0
3      tt0167260  The Lord of the Rings: The Return of the King     2003.0
4      tt0108052                               Schindler's List     1993.0
...          ...                                            ...        ...
16033  tt4776556                   Torno indietro e cambio vita     2015.0
16034  tt4935418                                         Baskin     2015.0
16035  tt2474958                              Kill Your Friends     2015.0
16036  tt2978102                                      Term Life     2016.0
16037  tt1075114                             A Whole Life Ahead     2008.0

       runtimeMinutes  directors     actor1     actor2 primaryGenre    rating
0                 142  nm0001104  nm0000209  nm0000151        Drama  9.295191
1                 175  nm0000338  nm0000008  nm0000199        Crime  9.193354
2                 152  nm0634240  nm0000288  nm0005132       Action  8.995661
3                 201  nm0001392  nm0000704  nm0001557    Adventure  8.993709
4                 195  nm0000229  nm0000553  nm0000146    Biography  8.991416
...               ...        ...        ...        ...          ...       ...
16033              83  nm0889402  nm0100556  nm0578633       Comedy  5.500000
16034              97  nm3159880  nm7512968        NaN       Horror  5.800000
16035             104  nm2787176  nm0396558  nm1064292       Comedy  6.100000
16036              93  nm0082526  nm0000681  nm2794962     Thriller  6.000000
16037             117  nm0899501  nm2431340  nm0315767       Comedy  6.594000

[16038 rows x 9 columns]>

In [25]:
df = pd.get_dummies(mergedf, columns=['primaryGenre'], drop_first=True) #MOVE

In [26]:
df.head(10)

,tconst,primaryTitle,startYear,runtimeMinutes,directors,actor1,actor2,rating,primaryGenre_Adult,primaryGenre_Adventure,...,primaryGenre_Romance,primaryGenre_Sci-Fi,primaryGenre_Science Fiction,primaryGenre_Short,primaryGenre_Sport,primaryGenre_TV Movie,primaryGenre_Thriller,primaryGenre_War,primaryGenre_Western,primaryGenre_\N
0,tt0111161,The Shawshank Redemption,1994.0,142,nm0001104,nm0000209,nm0000151,9.295191,False,False,...,False,False,False,False,False,False,False,False,False,False
1,tt0068646,The Godfather,1972.0,175,nm0000338,nm0000008,nm0000199,9.193354,False,False,...,False,False,False,False,False,False,False,False,False,False
2,tt0468569,The Dark Knight,2008.0,152,nm0634240,nm0000288,nm0005132,8.995661,False,False,...,False,False,False,False,False,False,False,False,False,False
3,tt0167260,The Lord of the Rings: The Return of the King,2003.0,201,nm0001392,nm0000704,nm0001557,8.993709,False,True,...,False,False,False,False,False,False,False,False,False,False
4,tt0108052,Schindler's List,1993.0,195,nm0000229,nm0000553,nm0000146,8.991416,False,False,...,False,False,False,False,False,False,False,False,False,False
5,tt0071562,The Godfather Part II,1974.0,202,nm0000338,nm0000199,nm0000134,8.990861,False,False,...,False,False,False,False,False,False,False,False,False,False
6,tt0050083,12 Angry Men,1957.0,96,nm0001486,nm0000020,nm0002011,8.985822,False,False,...,False,False,False,False,False,False,False,False,False,False
7,tt0252487,The Chaos Class,1975.0,85,nm0251027,nm0654805,nm0015081,8.915649,False,False,...,False,False,False,False,False,False,False,False,False,False
8,tt0110912,Pulp Fiction,1994.0,154,nm0000233,nm0000237,nm0000235,8.894602,False,False,...,False,False,False,False,False,False,False,False,False,False
9,tt0120737,The Lord of the Rings: The Fellowship of the Ring,2001.0,178,nm0001392,nm0000704,nm0005212,8.894037,False,True,...,False,False,False,False,False,False,False,False,False,False

In [27]:
# Apply count encoding MOVE
for col in ['directors', 'actor1', 'actor2']:
    df[col + '_count'] = df[col].map(df[col].value_counts())

# Drop original categorical columns
df.drop(columns=['directors', 'actor1', 'actor2'], inplace=True)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16038 entries, 0 to 16037
Data columns (total 36 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   tconst                        16038 non-null  object
 1   primaryTitle                  16038 non-null  object
 2   startYear                     16037 non-null  float64
 3   runtimeMinutes                16038 non-null  int64
 4   rating                        16038 non-null  float64
 5   primaryGenre_Adult            16038 non-null  bool
 6   primaryGenre_Adventure        16038 non-null  bool
 7   primaryGenre_Animation        16038 non-null  bool
 8   primaryGenre_Biography        16038 non-null  bool
 9   primaryGenre_Comedy           16038 non-null  bool
 10  primaryGenre_Crime            16038 non-null  bool
 11  primaryGenre_Documentary      16038 non-null  bool
 12  primaryGenre_Drama            16038 non-null  bool
 13  primaryGenre_Family           16038 non-null  bool
 14  primaryGenre_Fantasy          16038 non-null  bool
 15  primaryGenre_Film-Noir        16038 non-null  bool
 16  primaryGenre_History          16038 non-null  bool
 17  primaryGenre_Horror           16038 non-null  bool
 18  primaryGenre_Music            16038 non-null  bool
 19  primaryGenre_Musical          16038 non-null  bool
 20  primaryGenre_Mystery          16038 non-null  bool
 21  primaryGenre_News             16038 non-null  bool
 22  primaryGenre_Reality-TV       16038 non-null  bool
 23  primaryGenre_Romance          16038 non-null  bool
 24  primaryGenre_Sci-Fi           16038 non-null  bool
 25  primaryGenre_Science Fiction  16038 non-null  bool
 26  primaryGenre_Short            16038 non-null  bool
 27  primaryGenre_Sport            16038 non-null  bool
 28  primaryGenre_TV Movie         16038 non-null  bool
 29  primaryGenre_Thriller         16038 non-null  bool
 30  primaryGenre_War              16038 non-null  bool
 31  primaryGenre_Western          16038 non-null  bool
 32  primaryGenre_\N               16038 non-null  bool
 33  directors_count               15945 non-null  float64
 34  actor1_count                  15932 non-null  float64
 35  actor2_count                  15694 non-null  float64
dtypes: bool(28), float64(5), int64(1), object(2)
memory usage: 1.4+ MB

In [35]:
# List of columns to convert to integers
int_columns = ['startYear', 'directors_count', 'actor1_count', 'actor2_count']

for col in int_columns:
    # Convert to numeric, coerce errors to NaN, fill NaN with 0, then cast to int
    df[col] = pd.to_numeric(df[col], errors='coerce').fillna(0).astype(int)

In [36]:
print(df.dtypes)

tconst                           object
primaryTitle                     object
startYear                         int64
runtimeMinutes                    int64
rating                          float64
primaryGenre_Adult                 bool
primaryGenre_Adventure             bool
primaryGenre_Animation             bool
primaryGenre_Biography             bool
primaryGenre_Comedy                bool
primaryGenre_Crime                 bool
primaryGenre_Documentary           bool
primaryGenre_Drama                 bool
primaryGenre_Family                bool
primaryGenre_Fantasy               bool
primaryGenre_Film-Noir             bool
primaryGenre_History               bool
primaryGenre_Horror                bool
primaryGenre_Music                 bool
primaryGenre_Musical               bool
primaryGenre_Mystery               bool
primaryGenre_News                  bool
primaryGenre_Reality-TV            bool
primaryGenre_Romance               bool
primaryGenre_Sci-Fi                bool
primaryGenre_Science Fiction       bool
primaryGenre_Short                 bool
primaryGenre_Sport                 bool
primaryGenre_TV Movie              bool
primaryGenre_Thriller              bool
primaryGenre_War                   bool
primaryGenre_Western               bool
primaryGenre_\N                    bool
directors_count                   int64
actor1_count                      int64
actor2_count                      int64
dtype: object

In [29]:
# Replace all "\\n", "NaN", and "null" entries with empty strings in the entire dataset
df.replace({'\n': ""}, regex=True, inplace=True)
df.replace(r'\\N', '0', regex=True)


# Additionally, replace any NaN (missing values) with empty strings
df.fillna("", inplace=True)
df['runtimeMinutes'] = df['runtimeMinutes'].replace(r'\\N', '0', regex=True)  # Replace with 0

/var/folders/4x/2x0b2jfn10194njsl4kvqqc40000gn/T/ipykernel_91513/595393397.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.fillna("", inplace=True)

In [37]:
df.to_csv('fullDataset.csv', index=False)